@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* * {
    background-color: rgba(255, 219, 17, 0.938);
}

h1 {
    color: rgba(187, 8, 8, 0.781);
    font-family: 'Alata', sans-serif;
} */

.container {
    background-image: url ("https://i.pinimg.com/originals/67/02/32/670232f4144343e71cbe7b11b7f4e232.jpg");
}