@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
* {
    border: 2px yellow;
}


/* * {
    background-color: rgba(255, 219, 17, 0.938);
}

h1 {
    color: rgba(187, 8, 8, 0.781);
    font-family: 'Alata', sans-serif;
} */

body {
    background-image: url("file:///Users/kellenchumley/Desktop/kidslyce.github.io/imgs/background_img.jpg");
}