        @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        h1 {
            font-family: 'Roboto', sans-serif;
            color: rgb(28, 255, 255);
            text-shadow: 1px 1px 10px rgb(28, 255, 255), 1px 1px 8px #ccc
        }
        
        body {
<<<<<<< HEAD
            background-image: url("https://github.com/kidslyce/kidslyce.github.io/blob/gh-pages/imgs/background_img.jpg?raw=true");
=======
            background-image: url("file:///Users/kellenchumley/Desktop/kidslyce.github.io/imgs/background_img.jpg");
>>>>>>> da3a0716d827beffec3d20cd3f4933acace10559
        }
        
        .modal {
            display: none;
            position: absolute;
            z-index: 1;
            padding-top: 10px;
            width: 200px;
            height: 200px;
            border-radius: 40px;
            margin: 40px;
            background-color: rgb(0, 0, 0);
            color: rgb(28, 255, 255);
            box-shadow: 1px 1px 10px rgb(28, 255, 255), 1px 1px 8px #ccc;
            text-align: center;
        }
        
        #alderaan-modal {
            display: none;
            left: 400px;
            top: 50px;
        }
        
        #dagobah-modal {
            display: none;
            left: 400px;
            top: 280px;
        }
        
        #endor-modal {
            display: none;
            left: 400px;
            top: 530px;
        }
        
        #tatooine-modal {
            display: none;
            left: 400px;
            top: 785px;
        }
        
        #yavin-modal {
            display: none;
            left: 400px;
            top: 1030px;
        }